<!-- Latest Blog -->
  <section id="aa-latest-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <h2>LATEST NEWS</h2>
            <div class="row">
              <!-- single latest blog -->
              {% for news in __SELF__.recentNews %}
              <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                  <figure class="aa-blog-img">                    
                    <a href="#">
                    {% if news.image.getPath %}
                        <img src="{{news.image.getpath}}">
                    {% else %}
                        <img src="{{'assets/img/promo-banner-1.jpg'|theme}}">
                    {% endif %}
                    </a>
                    <figcaption class="aa-blog-img-caption">
                      <span href="#"><i class="fa fa-clock-o"></i>{{ news.startDate }}</span>
                    </figcaption>                          
                  </figure>
                  <div class="aa-blog-info">
                    <h3 class="aa-blog-title"><a href="#">{{ news.title }}</a></h3>
                    <p>
                        {{ news.description }}
                    </p> 
                   <!--  <a href="#" class="aa-read-mor-btn">Read more <span class="fa fa-long-arrow-right"></span></a> -->
                  </div>
                </div>
              </div>
             {% endfor %}
            </div>
          </div>
        </div>    
      </div>
    </div>
  </section>
  <!-- / Latest Blog -->