<h2>{{  __SELF__.title|default('this is the default title ') }}</h2>
<!-- Products section -->
  <section id="aa-product">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-product-area">
              <div class="aa-product-inner">
                <!-- start prduct navigation -->
                 <ul class="nav nav-tabs aa-products-tab">
                 {% for entity in __SELF__.entities %}
                   <li class="">
                      <a href="#entity-{{ loop.index0 }}" data-toggle="tab">{{ entity.name }}</a>
                   </li>
                 {% endfor %}
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- Start product category -->
                    {% for entity in __SELF__.entities %}
                    <div class="tab-pane fade in " id="entity-{{ loop.index0 }}">
                      <ul class="aa-product-catg">
                        <!-- start single product item -->
                        {% for book in entity.entityBooks %}
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="{{ book.image.getPath }}" alt="{{ book.title }}"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                              <figcaption>
                              <h4 class="aa-product-title"><a href="#">{{ book.title }}</a></h4>
                              <span class="aa-product-price">{{ book.price }}</span><span class="aa-product-price"><del>{{ book.price }}</del></span>
                            </figcaption>
                          </figure>                        
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
                          </div>
                          <!-- product badge -->
                          
                        </li>
                        {% endfor %}
                       
                      </ul>
                      <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    {% endfor %}
                    <!-- / end product category -->

                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Products section -->