

  <section id="aa-popular-category">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-popular-category-area">
                        <!-- start prduct navigation -->
                       <!--  <ul class="nav nav-tabs aa-products-tab">
                            <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
                            <li><a href="#featured" data-toggle="tab">Featured</a></li>
                            <li><a href="#latest" data-toggle="tab">Latest</a></li>
                        </ul> -->
                        <h2 class="text-center">Latest Books</h2>
                        <!-- Tab panes -->
                        <div class="tab-content" dir="ltr">
                            <!-- Start men popular category -->
                            <div class="tab-pane fade in active" id="popular">
                                <ul class="aa-product-catg aa-popular-slider" >
                                {% for book in __SELF__.books %}
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="{{ url('/book') ~ '/' ~ book.slug }}">
                                                 
                                {% if book.image.getPath %}
                                    <img src="{{book.image.getpath}}">
                                {% else %}
                                    <img src="{{'assets/img/electronics/electronic-1.png'|theme}}">
                                {% endif %}
                                                
                                            </a>
                                            <!-- <a class="aa-add-card-btn" href="#">
                                            <span class="fa fa-shopping-cart"></span>Add To Cart</a> -->
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="{{ url('/book') ~ '/' ~ book.slug }}">{{ book.title }}</a></h4>                                                
                                            </figcaption>
                                        </figure>
                                    </li>
                                {% endfor %}
                               
                                </ul>
                            </div>
                        </div>
                              
                </div>
            </div>
        </div>
    </div>
</section>
	
