<section id="aa-series-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-series-blog-area">
                      
                        <div class="row">                       
                          {% for series in __SELF__.series %}
                          <!-- single latest blog -->
                             <div class="col-md-3">
                                <div class="aa-series-blog-single">
                                    <div class="aa-series-img  img-circle">
                                        <a href="{{ url('/series') ~ '/' ~ series.slug }}">
                                        {% if series.image.getPath %}
                                            <img src="{{series.image.getpath}}">
                                        {% else %}
                                            <img src="{{'assets/img/electronics/electronic-1.png'|theme}}">
                                        {% endif %}
                                        </a>
                                   </div>
                                    <div class="aa-series-info">
                                        <h3 class="aa-series-title">
                                          <a href="{{ url('/series') ~ '/' ~ series.slug }}">{{series.title}}</a>
                                        </h3>
                                        <p>{{series.shortDescription|raw}}</p>
                                        <!--<a href="#" class="aa-read-mor-btn">Read more <span class="fa fa-long-arrow-right"></span></a>-->
                                 </div>
                               </div>
                             </div>                  
                          {% endfor %}
                        </div> 
                                             
                    </div>

                </div>
           </div>
       </div>
</section>