

<small>{{ __SELF__.pageTitle }}</small>

  <!-- product category -->
<section id="aa-product-category">
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
      <div class="aa-product-catg-content">
        <div class="aa-product-catg-head">
          <div class="aa-product-catg-head-left">
            <form action="" class="aa-sort-form">
              <label for="">Sort by</label>
              <select name="orderBy">
                <option value="1" selected="Default">Default</option>
                <option value="name">Name</option>
                <option value="price">Price</option>
                <option value="publishDate">Publish date</option>
              </select>
            </form>
            <form action="" class="aa-show-form">
              <label for="">Show</label>
              <select name="">
                <option value="12" selected="12">12</option>
                <option value="24">24</option>
                <option value="36">36</option>
              </select>
            </form>
          </div>
          <div class="aa-product-catg-head-right">
            <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
            <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
          </div>
        </div>
        <div class="aa-product-catg-body">
          <ul class="aa-product-catg">
            <!-- start single product item -->
            {% for series in __SELF__.filteredSeries %}

            <li>
              <figure>
                <a class="aa-product-img" href="{{ url('/series') ~ '/' ~ series.slug }}">
	                {% if series.image.getPath %}
	                <img src="{{ series.image.getPath }}" alt="img {{series.image.title}}">
	                {% else %}
	                <img src="{{ 'assets/img/electronics/electronic-1.png'|theme }}" alt="img {{ series.image.title }}">
	                {% endif %}
                </a>
               <!--  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a> -->
                <figcaption>
                  <h4 class="aa-product-title"><a href="{{ url('/series') ~ '/' ~ series.slug }}">{{ series.title }}</a></h4>
                  <!-- <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span> -->
                  <p class="aa-product-descrip">{{ series.shortDescription }}</p>
                </figcaption>
              </figure>                          
              <div class="aa-product-hvr-content">
               <a><h5>{{series.level.name}}</h5></a>

                <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a> -->
                <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"> <span class="fa fa-exchange"></span></a> -->
               <!--  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a> -->
                            </div>
            </li>
            {% endfor %}                                          
          </ul>

        </div>

        
        <div class="aa-product-catg-pagination">
          <nav>
          {{ __SELF__.filteredSeries.render|raw }}
          </nav>
        </div>
      </div>
    </div>

    
    <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
      <aside class="aa-sidebar">
        <!-- single sidebar -->

        <div class="aa-sidebar-widget">
          <h3>Level</h3>
          <ul class="aa-catg-nav">
            {% for level in __SELF__.levels %}
            <li><a href="?level={{ level }}">{{ level }}</a></li>
            {% endfor %}
          </ul>
        </div>


        <div class="aa-sidebar-widget">
          <h3>Category</h3>
          <div class="tag-cloud">
            {% for category in __SELF__.categories %}
            <a href="?category={{ category }}">{{ category }}</a>
            {% endfor %}
          </div>
        </div>

       

        <!-- single sidebar -->
<!--         <div class="aa-sidebar-widget">
          <h3>Tags</h3>
          <div class="tag-cloud">
            <a href="#">Fashion</a>
            <a href="#">Ecommerce</a>
            <a href="#">Shop</a>
            <a href="#">Hand Bag</a>
            <a href="#">Laptop</a>
            <a href="#">Head Phone</a>
            <a href="#">Pen Drive</a>
          </div>
        </div> -->
        <!-- single sidebar -->
        
        <!-- single sidebar -->
        <!-- <div class="aa-sidebar-widget">
          <h3>Recently Views</h3>
          <div class="aa-recently-views">
            <ul>
              <li>
                <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                <div class="aa-cartbox-info">
                  <h4><a href="#">Product Name</a></h4>
                  <p>1 x $250</p>
                </div>                    
              </li>
              <li>
                <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-1.jpg"></a>
                <div class="aa-cartbox-info">
                  <h4><a href="#">Product Name</a></h4>
                  <p>1 x $250</p>
                </div>                    
              </li>
               <li>
                <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                <div class="aa-cartbox-info">
                  <h4><a href="#">Product Name</a></h4>
                  <p>1 x $250</p>
                </div>                    
              </li>                                      
            </ul>
          </div>                            
        </div> -->
        <!-- single sidebar -->
        <!-- <div class="aa-sidebar-widget">
          <h3>Top Rated Products</h3>
          <div class="aa-recently-views">
            <ul>
              <li>
                <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                <div class="aa-cartbox-info">
                  <h4><a href="#">Product Name</a></h4>
                  <p>1 x $250</p>
                </div>                    
              </li>
              <li>
                <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-1.jpg"></a>
                <div class="aa-cartbox-info">
                  <h4><a href="#">Product Name</a></h4>
                  <p>1 x $250</p>
                </div>                    
              </li>
               <li>
                <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                <div class="aa-cartbox-info">
                  <h4><a href="#">Product Name</a></h4>
                  <p>1 x $250</p>
                </div>                    
              </li>                                      
            </ul>
          </div>                            
        </div> -->
      </aside>
    </div>
   
  </div>
</div>
</section>
  <!-- / product category -->